*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('https://img.freepik.com/free-vector/oktoberfest-blue-seamless-rhombus-background-vector-illustration_90220-760.jpg?w=1060&t=st=1666638121~exp=1666638721~hmac=16285f6da79614e3a426b93cf69c3207cc432038b44267c000f3c5b885b51bfc');
  background-attachment: fixed;
}

.widget{
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.widgetIn{
  background-color: rgba(255, 255, 255, 0.849);
  width: 50%;
  padding: 50px;
  border: 2px solid rgba(255, 255, 255, 0.849);
  border-radius: 15px;
}